// colori
$sfondoHeaderTop: black;
$headerTopText: darkgrey;
$headerTopTextHover: white;
$strong: #CB26B5;
$bgMain: #E8E8E8;


// altezza e larghezza
$jumboH: 500px;
$altezzaHeader: 100px;
$altezzaHeaderTop: 50px;
$larghezzaDesktop: 1200px;
// font
$fontHeader: 14px;

//margin e padding
$paddingBox:10px 15px;
$paddingHeader: 10px 0;
$paddingMain: 50px 0;
